<div *ngIf="!isConnected" style="text-align:center;">
    <img src="assets/spinner-1s-50px.gif" />
</div>
<div *ngIf="isConnected">
    <h1>{{roomName || roomId}}</h1>
    <div class="pure-form center-text">
        <span style="margin-right: 0.5em;">Room URL:</span>
        <input type="text" value="{{roomAddress}}" readonly #roomAddressInput style="width: 50%;" />
        <button #copyRoomAddressButton class="pure-button"
            (click)="copyRoomAddressToClipboard(roomAddressInput, copyRoomAddressButton)">Copy</button>
    </div>

    <div *ngIf="isOwner">
        <h2>Create new poll</h2>
        <div class="pure-g pure-form pure-form-stacked">
            <div class="pure-u-4-5">
                <input type="text" [(ngModel)]="newPollQuestion" style="width: 100%;"
                    (keyup)="uiHelper.onEnter(this, $event, createNewPoll)" />
            </div>
            <div class="pure-u-1-5" style="margin:auto">
                <button class="pure-button pure-button-primary" style="width: 100%;"
                    [disabled]="isBusy || !newPollQuestion || newPollQuestion.length === 0"
                    (click)="createNewPoll()">Create</button>
            </div>
        </div>
    </div>

    <div *ngIf="isOwner" style="margin-top: 1em;">
        <span style="font-weight: bolder; color: black;">Users:</span> {{ userNames.join(', ') }}
    </div>

    <div *ngIf="pollModels?.length || 0 > 0 else noPolls">
        <div *ngFor="let poll of this.pollModels" style="margin-top: 4em;">
            <app-poll [isOwner]="isOwner" [roomId]="roomId" [poll]="poll"></app-poll>
        </div>
    </div>
    <ng-template #noPolls>
        <h3 style="margin-top: 3em;">No polls have been created yet.</h3>
    </ng-template>
</div>
