<div *ngIf="!isConnected">
    Connecting to room...
</div>
<div *ngIf="isConnected">
    <h2>Vote room: {{roomName || roomId}}</h2>
    <p>
        Room URL:
        <input type="text" value="{{roomAddress}}" readonly #roomAddressInput style="width: 50%;" />
        <button #copyRoomAddressButton class="bigButton"
            (click)="copyRoomAddressToClipboard(roomAddressInput, copyRoomAddressButton)">Copy</button>
    </p>

    <div *ngIf="isOwner">
        <h3>Create new poll</h3>
        <input type="text" [(ngModel)]="newPollQuestion" style="width: 100%;" />
        <button class="bigButton" [disabled]="isBusy || !newPollQuestion || newPollQuestion.length === 0"
            (click)="createNewPoll()">Create</button>
    </div>

    <hr />
</div>
