<div class="home-menu pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">VOTE-SCRUM</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a routerLink="/" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a routerLink="/createRoom" class="pure-menu-link">Create new room</a></li>
        <li class="pure-menu-item">
            <a routerLink="/user" class="pure-menu-link">
                User: <span style="font-style: italic;">{{userService.userData.name || 'Unknown user'}}</span>
            </a>
        </li>
    </ul>
</div>

<div class="pure-g">
    <div class="pure-u-0 pure-u-md-1-4">&nbsp;</div>
    <div class="pure-u-1 pure-u-md-1-2 content-wrapper" role="main">
        <router-outlet></router-outlet>
    </div>
    <div class="pure-u-0 pure-u-md-1-4">&nbsp;</div>
</div>
