<div class="home-menu pure-menu pure-menu-horizontal">
    <a routerLink="/" class="pure-menu-heading">SCRUM-VOTE</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a routerLink="/" class="pure-menu-link">Home</a></li>
        <li class="pure-menu-item"><a routerLink="/createRoom" class="pure-menu-link">New room</a></li>
        <li class="pure-menu-item">
            <a routerLink="/user" class="pure-menu-link">
                Change username
                <span style="font-weight: 400;">({{userService.userData.name || 'Unknown user'}})</span>
            </a>
        </li>
    </ul>
</div>

<div class="pure-g" style="padding-bottom: 1em;">
    <div class="pure-u-0 pure-u-md-1-4">&nbsp;</div>
    <div class="pure-u-1 pure-u-md-1-2 content-wrapper" role="main">
        <router-outlet></router-outlet>
    </div>
    <div class="pure-u-0 pure-u-md-1-4">&nbsp;</div>
</div>

<footer style="font-size: x-small; margin-top: 10em;">
    <div>© 2021</div>
    <div>Created by Soma Zsják.</div>
    <div>
        Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a>,
        <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
</footer>
