<h3>
    {{poll.question}}
    <span style="margin-left: 0.5em;font-size: 80%;">
        <button *ngIf="isOwner && poll.isActive" class="pure-button pure-button-primary"
            [disabled]="!poll.isActive || isBusy" (click)="closePoll()">✔</button>
        <button *ngIf="isOwner" class="pure-button" [disabled]="isBusy" (click)="deletePoll()">✖</button>
    </span>
</h3>

<table *ngIf="true || poll.votes?.length || 0 > 0" class="pure-table pure-table-bordered pure-table-striped"
    style="min-width: 300px;">
    <thead>
        <tr>
            <th style="width: 50%;">Name</th>
            <th>Vote</th>
        </tr>
    </thead>
    <tr *ngIf="poll.isActive && !poll.isAlreadyVoted">
        <td>{{userName}}</td>
        <td>
            <div class="pure-form pure-form">
                <div style="display: inline-block;">
                    <input [class.glowing]="!isOwner" type="text" [(ngModel)]="voteComment" placeholder="your vote"
                        (keyup)="uiHelper.onEnter(this, $event, submit)" />
                </div>
                <div style="margin: auto; margin-left: 0.5em; display: inline-block;">
                    <button class="pure-button pure-button-primary" [disabled]="(voteComment | nullOrEmpty) || isBusy"
                        (click)="submit()" style="width: 100%;">Vote</button>
                </div>
            </div>
        </td>
    </tr>
    <tr *ngFor="let vote of poll.votes">
        <td>{{vote.name}}</td>
        <td *ngIf="vote.vote">{{vote.vote.comment}}</td>
        <td *ngIf="!vote.vote">
            💡
            <img *ngIf="vote.userId === userService.userData.id" (click)="cancelVote(vote.id)" src="assets/edit.png"
                class="editIcon" />
        </td>
    </tr>
</table>
