.glowing {
    animation: voteGlow 1s infinite normal;
}

.editIcon {
    height: 1em;
    margin-left: 0.5em;
}

.editIcon:hover,
.calculatorIcon:hover {
    cursor: pointer;
}

.calculatorIcon {
    height: 1.5em;
}

.vmiddle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

$glowSize: 5px;
@keyframes voteGlow {
    from {
        box-shadow: 0 0 $glowSize -$glowSize rgba(0, 120, 231, 1);
    }
    to {
        box-shadow: 0 0 $glowSize $glowSize rgba(0, 120, 231, 0);
    }
}
