.glowing {
    animation: voteGlow 1s infinite normal;
}

.editIcon {
    height: 1em;
    margin-left: 0.5em;
}

.editIcon:hover {
    cursor: pointer;
}

$glowSize: 5px;
@keyframes voteGlow {
    from {
        box-shadow: 0 0 $glowSize -$glowSize rgba(0, 120, 231, 1);
    }
    to {
        box-shadow: 0 0 $glowSize $glowSize rgba(0, 120, 231, 0);
    }
}
